
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    background-color: rgba(255, 144, 14, 0.1);
    max-width: 1920px;
    width: 100%;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 50px 230px;
    max-width: 1440px;
    
}



.nav-links{
    display: flex;
    list-style: none;
    gap: 50px;

}

.nav-items{
    display: flex;
    align-items: center;
    line-height: 26px;


}

.nav-items a{
    font-size: 18px;
    text-decoration: none;
    color: #424242;



}

.brand{
    
    color: #131313;
    font-size: 3rem;
    /* 1 rem = 16px */
    
}

.banner{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0px auto;
    justify-content: center;
}

.banner img{
    max-width: 1000px;
    width: 100%;
    margin: 0px auto;
    align-items: center;
    margin-bottom: 20px;
}

.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-content h1{
    font-size: 4em;
    font-weight: 700;
    color: #131313;
    margin-top: 50px;
    
}

.banner-content p{
    color: #727272;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
}





main{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 130px;
    padding: 0 50px;
}

.team{
    display: flex;
    align-items: center;
    margin-top: 85px;
    gap: 70px;
}

.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-features h3{
    font-size: 3rem;
    margin-bottom: 25px;

}

.team-features h3 .font-clr{
    color: #FF900E;
}

.team-features p{
    font-size: 1rem;
    color: #727272;
    line-height: 26px;
    margin-bottom: 30px;
}



/* #facts{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
} */

#facts h3{
    max-width: 260px;
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 130px;
}

#facts p{
    max-width: 540px;
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
    margin-bottom: 100px;
}


.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.facts-card{
    height: 240px;
    width: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.display-flex{
    display: flex;
}

.fact-icon{
    height: 45px;
    width: 45px;
    margin-bottom: 10px;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-bottom: 5px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
}


.sponsor-container{
    max-width: 540px;
    margin: 180px auto 50px auto;
    text-align: center;

}

.sponsor-container h3{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.sponsor-container p{
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
    margin-bottom: 50px;
}

.sponsor-icon{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 1440px;
    margin: 0 auto;
    justify-items: center;
}

.sponsor-icon img{
    filter: grayscale(100%);
}


/* responsive media query */

@media screen and (max-width: 576px){
    .navbar, .nav-links, .team{
        flex-direction: column;
    }

    .team-img, 
    .facts-container,
    .sponsor-icon{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }

    .facts-container,
    .sponsor-icon{
        justify-items: center;
        gap: 20px;
    }

    .team-features{
        margin: 0 auto;
    }

    
}